@model SistemaControle.Models.Grupos

@{
    ViewBag.Title = "Detalhes";
}

<div class="row">
    <div class="col-md-2">
        <br/>
  @if (!string.IsNullOrEmpty(Model.Professor.Photo))
  {
    <img src="@Url.Content(Model.Professor.Photo)" alt="Image"
         style="width:100px;height:100px;max-width: 100%; height: auto;" />
  }
    </div>

    <div class="col-md-10">
        <h2>Turmas</h2>

        <div>

            <hr />
            
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayName("Professor(a)")
                        <!-- @Html.DisplayNameFor(model => model.Professor.UserName) -->
                    </dt>

                    <dd>
                        <!-- @Html.DisplayName("Email") -->
                        @Html.DisplayFor(model => model.Professor.NomeCompleto)
                    </dd>

                    <dt>
                        @Html.DisplayName("Disciplina")
                        <!-- @Html.DisplayNameFor(model => model.Descricao) -->
                    </dt>

                    <dd>
                        <!--@Html.DisplayName("Disciplina") -->
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>

                </dl>
            
</div>
        <p> 
            @Html.ActionLink("Add Aluno", "AddEstudante", new { id = Model.GrupoId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Editar", "Edit", new { id = Model.GrupoId }, new { @class = "btn btn-info" }) |
            <!--  @Html.ActionLink("Voltar", "Index")-->
            @Html.ActionLink("Voltar", "Index", new { id = Model.GrupoId }, new { @class = "btn btn-info" })
        </p>

    </div>
</div>

<br/><br/>
<h4>Alunos Matriculados</h4>

@if(Model.GroupoDetalhes.Count == 0)
{
    <h5>Não tem alunos matriculados neste curso</h5>
}
else
{
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupoDetalhes.FirstOrDefault().Estudante.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupoDetalhes.FirstOrDefault().Estudante.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupoDetalhes.FirstOrDefault().Estudante.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupoDetalhes.FirstOrDefault().Estudante.Telefone)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.GroupoDetalhes.FirstOrDefault().Estudante.Photo)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model.GroupoDetalhes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudante.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudante.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudante.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudante.Telefone)
                </td>
                
                <td>
                    @if (!string.IsNullOrEmpty(item.Estudante.Photo))
                    {
                        <img src="@Url.Content(item.Estudante.Photo)" alt="Image"
                             style="width:50px;height:50px;max-width: 100%; height: auto;" />
                    }
                </td>
               
                <td>
                  @Html.ActionLink("Excluir", "ExcluirEstudante", new { id = item.GruposDetalhesId }, new { @class = "btn btn-info", onclick = "return confirm('Tem certeza que deseja excluir o aluno?')" })
                </td>
            </tr>
        }

    </table>

}
